
body {
  margin: 20px;
}

h1 {
  color: #FFCA06;
  text-align: center;
  font-size: 80px;
  border: 2px solid #FFCA06;
}

img {
  padding-left: 330px;
  padding-top: 50px;
  height: 200px;
  width: 200px;
}
